<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springbootdemo.mapper.DataClean1Mapper" >
  <resultMap id="BaseResultMap" type="com.example.springbootdemo.entity.DataClean1" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="depth" property="depth" jdbcType="DOUBLE" />
    <result column="mag" property="mag" jdbcType="DOUBLE" />
    <result column="magType" property="magtype" jdbcType="VARCHAR" />
    <result column="nst" property="nst" jdbcType="INTEGER" />
    <result column="gap" property="gap" jdbcType="DOUBLE" />
    <result column="dmin" property="dmin" jdbcType="DOUBLE" />
    <result column="rms" property="rms" jdbcType="DOUBLE" />
    <result column="net" property="net" jdbcType="VARCHAR" />
    <result column="updated" property="updated" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="horizontalError" property="horizontalerror" jdbcType="DOUBLE" />
    <result column="depthError" property="deptherror" jdbcType="DOUBLE" />
    <result column="magError" property="magerror" jdbcType="DOUBLE" />
    <result column="magNst" property="magnst" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="locationSource" property="locationsource" jdbcType="VARCHAR" />
    <result column="magSource" property="magsource" jdbcType="VARCHAR" />
  </resultMap>
</mapper>